.particle-wrapper {
    canvas {
        margin-top: 48px;
        width: 100%;
        height: calc(100vh - 48px) !important;
        position: 'absolute';
        z-index: -1;
    }
}

// .contact-wrapper {
//     background: #e6e6e6;
// }

// .about-wrapper {
//     background: #e6e6e6;
//     width: 100%;
//     height: 50vh;
// }

// .particle-wrapper-center {
//     color: white;
//     position: absolute;
//     width: 100%;
//     height: calc(100vh - 48px) !important;
// }